body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #efebeb !important;
}

.stack {
  display: flex;
  flex-direction: column;
}

.stack > * {
  margin-bottom: 1rem;
}

.stack > *:last-child {
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > * {
  margin-right: 1rem;
}

.row > *:last-child {
  margin-right: 0;
}

.control.has-icons-left .button {
  padding-left: 2.5em;
}